<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ng.cx.sortable</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="<%= css %>">
    </head>
    <body ng-app="example.app">
        <div ng-controller="ExampleCtrl">
            <div id="list" cx-sortables>
                <div class="tile" cx-sortable ng-repeat="item in things track by $index">
                    {{ item }}
                </div>
            </div>
        </div>

        <% _.each(jslibs, function(lib) { %>
        <script type="text/javascript" src="<%= lib %>"></script>
        <% }); %>
        <script type="text/javascript" src="<%= mainjs %>"></script>
    </body>
</html>